body .container-fluid {
  font-size: 0.95rem;
}

body {
  min-width: 320px;
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url(./assets/background.jpg) no-repeat fixed bottom left;
  background-size: cover;
  background-blend-mode: lighten;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  &.modal-open {
    padding-right: 0 !important;
    overflow-y: auto;
    .modal {
      padding-right: 0 !important;
    }
    nav.header-container {
      padding-right: 1rem !important;
    }
    .navbar-dark .navbar-toggler {
      margin-right: 0 !important;
    }
  }
}

.container-fluid {
  @media (min-width: 1360px) {
    max-width: 95%;
  }
  margin: 5.5rem auto 0;
  min-height: calc(100vh - 12.5rem);
}

.red {
  color: #FF0000;
}

form {
  .invalid-feedback {
    white-space: pre-wrap;
  }
}

.header-container {
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.25), inset 0 -1px 5px rgba(0,0,0,.25);
}

.datepicker-form {
  .b-calendar-grid footer {
    display: none;
  }
}

/** -------Collapse icon style------- */
.collapse-icon {
  position: absolute;
  right: 0.5rem;

  .b-icon {
    color: #7952b3;
  }
}

.collapsed > .collapse-icon {
  animation-name: collapse-icon-animation;
  animation-duration: 0.2s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}

:not(.collapsed) > .collapse-icon {
  animation-name: not-collapse-icon-animation;
  animation-duration: 0.2s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}

@keyframes collapse-icon-animation {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes not-collapse-icon-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.collapsed.btn.focus, .collapsed.btn:focus, .not-collapsed.btn.focus, .not-collapsed.btn:focus {
  box-shadow: unset;
}
/** -------End collapse icon style------- */

.text-color-gray {
  color: gray;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3rem rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.dropdown-menu {
  .dropdown-item:hover {
    background-color: #dadada;
  }
  .dropdown-item.active {
    pointer-events: none;
  }
}
.has-link {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

a.linkified {
  color: inherit;
  text-decoration: underline;
  &:hover {
    opacity: 0.7;
  }
}

tr:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}