.container, .container-lg, .container-md, .container-sm, .container-xl {
  @media (min-width: 1360px) {
    max-width: 95%;
  }
  margin: 5rem auto 0;
  min-height: calc(100vh - 12.5rem);
}

.red {
  color: #FF0000;
}

form {
  .invalid-feedback {
    white-space: pre;
  }
}