<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
    Dear <span th:text="${userFullName}"></span>,<br/>
    <br/>
    You have just made a password change for your <span th:text="${systemShortName}"></span> system account.<br/>
    <br/>
    ====================<br/>
    Any questions about account information please contact the admin or reply in this email.<br/>
    Sincerely thanks!<br/>
    <br/>
    <span th:text="${systemFullName}"></span><br/>
    Home page: <a th:href="${homePageLink}" target="_blank"><span th:text="${homePageName}"></span></a><br/>
    ====================<br/>
    </body>
</html>